CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_phicomm_k2p=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_XZ=n
CONFIG_TARGET_INITRAMFS_COMPRESSION_LZMA=y

CONFIG_TARGET_PREINIT_IP="10.0.0.1"
CONFIG_TARGET_PREINIT_BROADCAST="10.0.0.255"


# CONFIG_ALL_KMODS is not set
CONFIG_ALL_NONSHARED=y
CONFIG_DEVEL=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_AUTOREMOVE=y
CONFIG_BPF_TOOLCHAIN_BUILD_LLVM=y
# CONFIG_BPF_TOOLCHAIN_NONE is not set
CONFIG_BUILDBOT=y
CONFIG_BUILD_LOG=y
CONFIG_COLLECT_KERNEL_DEBUG=y
CONFIG_HAS_BPF_TOOLCHAIN=y
CONFIG_IB=y
CONFIG_IMAGEOPT=y
CONFIG_JSON_CYCLONEDX_SBOM=y
CONFIG_KERNEL_BUILD_DOMAIN="localhost"
CONFIG_KERNEL_BUILD_USER="buildbot"
CONFIG_MAKE_TOOLCHAIN=y

CONFIG_KERNEL_SWAP=y
CONFIG_PACKAGE_zram-swap=y
CONFIG_PACKAGE_kmod-zram=m

CONFIG_PACKAGE_libbpf=m
CONFIG_PACKAGE_libelf=m
CONFIG_PACKAGE_libpcap=m
CONFIG_PACKAGE_libxdp=m
CONFIG_PACKAGE_qosify=m
CONFIG_PACKAGE_rpcd-mod-rpcsys=y
CONFIG_PACKAGE_tc-tiny=m
CONFIG_PACKAGE_xdp-filter=m
CONFIG_PACKAGE_xdp-loader=m
CONFIG_PACKAGE_xdpdump=m
CONFIG_PACKAGE_zlib=m

CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_coremark=n
# !!
CONFIG_PACKAGE_dnsmasq-full=n
CONFIG_PACKAGE_dnsmasq_full_dhcp=n
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=n
CONFIG_PACKAGE_dnsmasq_full_ipset=n
CONFIG_PACKAGE_dnsmasq_full_nftset=n
CONFIG_PACKAGE_dnsmasq_full_conntrack=n
CONFIG_PACKAGE_dnsmasq_full_noid=n
CONFIG_PACKAGE_dropbear=y
CONFIG_PACKAGE_ntpd=n
CONFIG_PACKAGE_ntpdate=y
CONFIG_PACKAGE_ipset=y

CONFIG_DEFAULT_default-settings=n

# !!
CONFIG_PACKAGE_luci-app-accesscontrol=n
CONFIG_PACKAGE_luci-app-arpbind=n

CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-ramfree=y
CONFIG_PACKAGE_luci-app-turboacc=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-advancedplus=n
CONFIG_PACKAGE_luci-app-fan=n
CONFIG_PACKAGE_luci-app-filebrowser=n
CONFIG_PACKAGE_luci-app-opkg=n
CONFIG_PACKAGE_luci-app-wizard=n

# !!
CONFIG_PACKAGE_luci-i18n-accesscontrol-zh-cn=n
CONFIG_PACKAGE_luci-i18n-arpbind-zh-cn=n

CONFIG_PACKAGE_luci-i18n-autoreboot-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ramfree-zh-cn=y
CONFIG_PACKAGE_luci-i18n-turboacc-zh-cn=y
CONFIG_PACKAGE_luci-i18n-upnp-zh-cn=y

CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_OFFLOADING=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_BBR_CCA=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_PDNSD=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_DNSFORWARDER=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_DNSPROXY=y

CONFIG_BUSYBOX_DEFAULT_NTPD=n
CONFIG_BUSYBOX_DEFAULT_FEATURE_NTPD_SERVER=n

CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-theme-bootstrap-light=n
CONFIG_PACKAGE_luci-theme-bootstrap-dark=n


# 基础系统
CONFIG_PACKAGE_base-files=y
CONFIG_PACKAGE_busybox=y
CONFIG_PACKAGE_firewall=n
CONFIG_PACKAGE_fstools=y
CONFIG_PACKAGE_ip6tables=n
CONFIG_PACKAGE_iptables=n
CONFIG_PACKAGE_kmod-ipt-conntrack=y
CONFIG_PACKAGE_kmod-ipt-core=y
CONFIG_PACKAGE_libc=y
CONFIG_PACKAGE_libgcc=y
CONFIG_PACKAGE_logd=y
CONFIG_PACKAGE_mtd=y
CONFIG_PACKAGE_netifd=y
CONFIG_PACKAGE_opkg=y
CONFIG_PACKAGE_procd=y
CONFIG_PACKAGE_swconfig=y
CONFIG_PACKAGE_ubox=y
CONFIG_PACKAGE_uci=y
CONFIG_PACKAGE_urandom-seed=y
CONFIG_PACKAGE_usign=y

# 网络 !!
CONFIG_PACKAGE_dnsmasq=n # dnsmasq & dnsmasq-full只能选一个
CONFIG_PACKAGE_odhcpd-ipv6only=n
CONFIG_PACKAGE_wpad=y  # 确保 WPA2 和 WPA3 支持

# 无线
CONFIG_PACKAGE_kmod-cfg80211=y
CONFIG_PACKAGE_kmod-mac80211=y
CONFIG_PACKAGE_kmod-ath=y
CONFIG_PACKAGE_kmod-ath9k=y
CONFIG_PACKAGE_kmod-ath10k=y
CONFIG_ATH_USER_REGD=y
CONFIG_PACKAGE_ath10k-firmware-qca988x=y

# Mesh 组网
CONFIG_PACKAGE_kmod-batman-adv=y
CONFIG_PACKAGE_batctl=y
CONFIG_PACKAGE_kmod-crypto-crc32c=y

# IPv6 !!
CONFIG_PACKAGE_kmod-ipv6=n
CONFIG_PACKAGE_kmod-nf-conntrack6=n
CONFIG_PACKAGE_kmod-nf-ipt6=n
CONFIG_PACKAGE_kmod-nf-reject6=n
# !!
CONFIG_PACKAGE_kmod-nf-conntrack=n
CONFIG_PACKAGE_kmod-nf-ipt=n
CONFIG_PACKAGE_kmod-nf-reject=n

# 禁用所有与iptables相关的内核模块
CONFIG_PACKAGE_kmod-ipt-core=n
CONFIG_PACKAGE_kmod-ipt-conntrack=n
CONFIG_PACKAGE_kmod-ipt-nat=n
CONFIG_PACKAGE_kmod-ipt-nat6=n
CONFIG_PACKAGE_kmod-ipt-nathelper=n
CONFIG_PACKAGE_kmod-ipt-nathelper-rtsp=n
CONFIG_PACKAGE_kmod-ipt-raw=n
CONFIG_PACKAGE_kmod-iptunnel=n
CONFIG_PACKAGE_kmod-ip6tables=n
CONFIG_PACKAGE_kmod-ip6t-conntrack=n
CONFIG_PACKAGE_kmod-ip6t-nat=n

# 禁用iptables用户空间工具
CONFIG_PACKAGE_iptables=n
CONFIG_PACKAGE_iptables-mod-conntrack=n
CONFIG_PACKAGE_iptables-mod-filter=n
CONFIG_PACKAGE_iptables-mod-ipopt=n
CONFIG_PACKAGE_iptables-mod-ipsec=n
CONFIG_PACKAGE_iptables-mod-nat=n
CONFIG_PACKAGE_iptables-mod-nat-extra=n
CONFIG_PACKAGE_iptables-mod-nfqueue=n
CONFIG_PACKAGE_ip6tables=n
CONFIG_PACKAGE_ip6tables-mod-nat=n
CONFIG_PACKAGE_ip6tables-mod-nat-extra=n

# 系统工具
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_vim=y
CONFIG_PACKAGE_dmesg=y
CONFIG_PACKAGE_pciutils=y
CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_tar=y
CONFIG_PACKAGE_gzip=y
CONFIG_PACKAGE_unzip=y


# 网络工具
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_nmap=y
CONFIG_PACKAGE_socat=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_wget=y
CONFIG_PACKAGE_netcat=y
CONFIG_PACKAGE_iftop=y
CONFIG_PACKAGE_traceroute=y
CONFIG_PACKAGE_ping=y
CONFIG_PACKAGE_tcping=y
CONFIG_PACKAGE_httping=y
CONFIG_PACKAGE_bind-dig=y
CONFIG_PACKAGE_ethtool=y
CONFIG_PACKAGE_iproute2=y
CONFIG_PACKAGE_sed=m
CONFIG_PACKAGE_grep=m
CONFIG_PACKAGE_binutils=y
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_ethtool=y
CONFIG_PACKAGE_lsblk=y
CONFIG_PACKAGE_lscpu=y
CONFIG_PACKAGE_more=y
CONFIG_PACKAGE_ncat=y
CONFIG_PACKAGE_rpcbind=y
CONFIG_PACKAGE_tcpreplay=y
CONFIG_PACKAGE_uuid=y
CONFIG_PACKAGE_uuidgen=y
CONFIG_PACKAGE_whereis=y


# 内核配置!!
CONFIG_KERNEL_IPV6=n
CONFIG_KERNEL_NETFILTER=n


CONFIG_KERNEL_NET_SCH_FIFO=y

# 去掉不需要的功能
CONFIG_PACKAGE_nano=n
CONFIG_PACKAGE_ipv6helper=n
CONFIG_PACKAGE_kmod-nf-nathelper-extra=n
CONFIG_PACKAGE_ppp=n
CONFIG_PACKAGE_ppp-mod-pppoe=n



CONFIG_REPRODUCIBLE_DEBUG_INFO=y
CONFIG_SDK=y
CONFIG_SDK_LLVM_BPF=y
CONFIG_TARGET_ALL_PROFILES=y
CONFIG_USE_LLVM_BUILD=y

CONFIG_VERSIONOPT=y
CONFIG_VERSION_BUG_URL=""
CONFIG_VERSION_CODE=""
CONFIG_VERSION_DIST="ImmortalWrt"
CONFIG_VERSION_FILENAMES=y
CONFIG_VERSION_HOME_URL=""
CONFIG_VERSION_HWREV=""
CONFIG_VERSION_MANUFACTURER=""
CONFIG_VERSION_MANUFACTURER_URL=""
CONFIG_VERSION_NUMBER=""
CONFIG_VERSION_PRODUCT=""
CONFIG_VERSION_REPO="https://downloads.immortalwrt.org/releases/23.05.2"
CONFIG_VERSION_SUPPORT_URL=""


CONFIG_PACKAGE_luci-app-diskman_INCLUDE_btrfs_progs=n
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Client=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Simple_Obfs=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus=n
CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-webui=n
CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-ng=n

CONFIG_PACKAGE_e2fsprogs=n
CONFIG_PACKAGE_ntfs3-mount=n

CONFIG_PACKAGE_kmod-sound-core=n
CONFIG_PACKAGE_kmod-ac97=n
CONFIG_PACKAGE_kmod-sound-dummy=n
CONFIG_PACKAGE_kmod-sound-ens1371=n
CONFIG_PACKAGE_kmod-sound-hda-core=n
CONFIG_PACKAGE_kmod-sound-hda-codec-analog=n
CONFIG_PACKAGE_kmod-sound-hda-codec-ca0110=n
CONFIG_PACKAGE_kmod-sound-hda-codec-ca0132=n
CONFIG_PACKAGE_kmod-sound-hda-codec-cirrus=n
CONFIG_PACKAGE_kmod-sound-hda-codec-cmedia=n
CONFIG_PACKAGE_kmod-sound-hda-codec-conexant=n
CONFIG_PACKAGE_kmod-sound-hda-codec-hdmi=n
CONFIG_PACKAGE_kmod-sound-hda-codec-idt=n
CONFIG_PACKAGE_kmod-sound-hda-codec-realtek=n
CONFIG_PACKAGE_kmod-sound-hda-codec-si3054=n
CONFIG_PACKAGE_kmod-sound-hda-codec-via=n
CONFIG_PACKAGE_kmod-sound-i8x0=n
CONFIG_PACKAGE_kmod-sound-mpu401=n
CONFIG_PACKAGE_kmod-sound-mt7620=n
CONFIG_PACKAGE_kmod-sound-seq=n
CONFIG_PACKAGE_kmod-sound-soc-ac97=n
CONFIG_PACKAGE_kmod-sound-soc-core=n
CONFIG_PACKAGE_kmod-sound-soc-spdif=n
CONFIG_PACKAGE_kmod-sound-soc-wm8960=n
CONFIG_PACKAGE_kmod-sound-via82xx=n
CONFIG_PACKAGE_kmod-usb-audio=n
CONFIG_PACKAGE_kmod-chaoskey=n
CONFIG_PACKAGE_kmod-usb-acm=n
CONFIG_PACKAGE_kmod-usb-atm=n
CONFIG_PACKAGE_kmod-usb-atm-cxacru=n
CONFIG_PACKAGE_kmod-usb-atm-speedtouch=n
CONFIG_PACKAGE_kmod-usb-atm-ueagle=n
CONFIG_PACKAGE_kmod-usb-cdns=n
CONFIG_PACKAGE_kmod-usb-cdns3=n
CONFIG_PACKAGE_kmod-usb-cm109=n
CONFIG_PACKAGE_kmod-usb-core=n
CONFIG_PACKAGE_kmod-usb-dwc2=n
CONFIG_PACKAGE_kmod-usb-dwc2-pci=n
CONFIG_PACKAGE_kmod-usb-dwc3=n
CONFIG_PACKAGE_kmod-usb-ehci=n
CONFIG_PACKAGE_kmod-usb-hid=n
CONFIG_PACKAGE_kmod-usb-hid-cp2112=n
CONFIG_PACKAGE_kmod-usb-hid-mcp2221=n
CONFIG_PACKAGE_kmod-usb-ledtrig-usbport=n
CONFIG_PACKAGE_kmod-usb-net=n
CONFIG_PACKAGE_kmod-usb-net-aqc111=n
CONFIG_PACKAGE_kmod-usb-net-asix=n
CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=n
CONFIG_PACKAGE_kmod-usb-net-cdc-eem=n
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=n
CONFIG_PACKAGE_kmod-usb-net-cdc-mbim=n
CONFIG_PACKAGE_kmod-usb-net-cdc-ncm=n
CONFIG_PACKAGE_kmod-usb-net-cdc-subset=n
CONFIG_PACKAGE_kmod-usb-net-dm9601-ether=n
CONFIG_PACKAGE_kmod-usb-net-hso=n
CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=n
CONFIG_PACKAGE_kmod-usb-net-ipheth=n
CONFIG_PACKAGE_kmod-usb-net-kalmia=n
CONFIG_PACKAGE_kmod-usb-net-kaweth=n
CONFIG_PACKAGE_kmod-usb-net-lan78xx=n
CONFIG_PACKAGE_kmod-usb-net-mcs7830=n
CONFIG_PACKAGE_kmod-usb-net-pegasus=n
CONFIG_PACKAGE_kmod-usb-net-pl=n
CONFIG_PACKAGE_kmod-usb-net-qmi-wwan=n
CONFIG_PACKAGE_kmod-usb-net-qmi-wwan-fibocom=n
CONFIG_PACKAGE_kmod-usb-net-qmi-wwan-quectel=n
CONFIG_PACKAGE_kmod-usb-net-rndis=n
CONFIG_PACKAGE_kmod-usb-net-rtl8150=n
CONFIG_PACKAGE_kmod-usb-net-rtl8152=n
CONFIG_PACKAGE_kmod-usb-net-rtl8152-vendor=n
CONFIG_PACKAGE_kmod-usb-net-sierrawireless=n
CONFIG_PACKAGE_kmod-usb-net-smsc75xx=n
CONFIG_PACKAGE_kmod-usb-net-smsc95xx=n
CONFIG_PACKAGE_kmod-usb-net-sr9700=n
CONFIG_PACKAGE_kmod-usb-ohci=n
CONFIG_PACKAGE_kmod-usb-ohci-pci=n
CONFIG_PACKAGE_kmod-usb-phy-nop=n
CONFIG_PACKAGE_kmod-usb-printer=n
CONFIG_PACKAGE_kmod-usb-roles=n
CONFIG_PACKAGE_kmod-usb-serial=n
CONFIG_PACKAGE_kmod-usb-serial-ark3116=n
CONFIG_PACKAGE_kmod-usb-serial-belkin=n
CONFIG_PACKAGE_kmod-usb-serial-ch341=n
CONFIG_PACKAGE_kmod-usb-serial-cp210x=n
CONFIG_PACKAGE_kmod-usb-serial-cypress-m8=n
CONFIG_PACKAGE_kmod-usb-serial-dmx_usb_module=n
CONFIG_PACKAGE_kmod-usb-serial-edgeport=n
CONFIG_PACKAGE_kmod-usb-serial-ftdi=n
CONFIG_PACKAGE_kmod-usb-serial-garmin=n
CONFIG_PACKAGE_kmod-usb-serial-ipw=n
CONFIG_PACKAGE_kmod-usb-serial-keyspan=n
CONFIG_PACKAGE_kmod-usb-serial-mct=n
CONFIG_PACKAGE_kmod-usb-serial-mos7720=n
CONFIG_PACKAGE_kmod-usb-serial-mos7840=n
CONFIG_PACKAGE_kmod-usb-serial-option=n
CONFIG_PACKAGE_kmod-usb-serial-oti6858=n
CONFIG_PACKAGE_kmod-usb-serial-pl2303=n
CONFIG_PACKAGE_kmod-usb-serial-qualcomm=n
CONFIG_PACKAGE_kmod-usb-serial-sierrawireless=n
CONFIG_PACKAGE_kmod-usb-serial-simple=n
CONFIG_PACKAGE_kmod-usb-serial-ti-usb=n
CONFIG_PACKAGE_kmod-usb-serial-visor=n
CONFIG_PACKAGE_kmod-usb-serial-wwan=n
CONFIG_PACKAGE_kmod-usb-serial-xr_usb_serial_common=n
CONFIG_PACKAGE_kmod-usb-storage=n
CONFIG_PACKAGE_kmod-usb-storage-extras=n
CONFIG_PACKAGE_kmod-usb-storage-uas=n
CONFIG_PACKAGE_kmod-usb-test=n
CONFIG_PACKAGE_kmod-usb-uhci=n
CONFIG_PACKAGE_kmod-usb-wdm=n
CONFIG_PACKAGE_kmod-usb-xhci-hcd=n
CONFIG_PACKAGE_kmod-usb-xhci-mtk=n
CONFIG_PACKAGE_kmod-usb-yealink=n
CONFIG_PACKAGE_kmod-usb2=n
CONFIG_PACKAGE_kmod-usb2-pci=n
CONFIG_PACKAGE_kmod-usb3=n
CONFIG_PACKAGE_kmod-usbip=n
CONFIG_PACKAGE_kmod-usbip-client=n
CONFIG_PACKAGE_kmod-usbip-server=n
CONFIG_PACKAGE_kmod-usbmon=n
CONFIG_PACKAGE_kmod-multimedia-input=n
CONFIG_PACKAGE_kmod-video-core=n
CONFIG_PACKAGE_kmod-v4l2loopback=n
CONFIG_PACKAGE_kmod-video-gspca-core=n
CONFIG_PACKAGE_kmod-video-gspca-conex=n
CONFIG_PACKAGE_kmod-video-gspca-etoms=n
CONFIG_PACKAGE_kmod-video-gspca-finepix=n
CONFIG_PACKAGE_kmod-video-gspca-gl860=n
CONFIG_PACKAGE_kmod-video-gspca-jeilinj=n
CONFIG_PACKAGE_kmod-video-gspca-konica=n
CONFIG_PACKAGE_kmod-video-gspca-m5602=n
CONFIG_PACKAGE_kmod-video-gspca-mars=n
CONFIG_PACKAGE_kmod-video-gspca-mr97310a=n
CONFIG_PACKAGE_kmod-video-gspca-ov519=n
CONFIG_PACKAGE_kmod-video-gspca-ov534=n
CONFIG_PACKAGE_kmod-video-gspca-ov534-9=n
CONFIG_PACKAGE_kmod-video-gspca-pac207=n
CONFIG_PACKAGE_kmod-video-gspca-pac7311=n
CONFIG_PACKAGE_kmod-video-gspca-se401=n
CONFIG_PACKAGE_kmod-video-gspca-sn9c20x=n
CONFIG_PACKAGE_kmod-video-gspca-sonixb=n
CONFIG_PACKAGE_kmod-video-gspca-sonixj=n
CONFIG_PACKAGE_kmod-video-gspca-spca500=n
CONFIG_PACKAGE_kmod-video-gspca-spca501=n
CONFIG_PACKAGE_kmod-video-gspca-spca505=n
CONFIG_PACKAGE_kmod-video-gspca-spca506=n
CONFIG_PACKAGE_kmod-video-gspca-spca508=n
CONFIG_PACKAGE_kmod-video-gspca-spca561=n
CONFIG_PACKAGE_kmod-video-gspca-sq905=n
CONFIG_PACKAGE_kmod-video-gspca-sq905c=n
CONFIG_PACKAGE_kmod-video-gspca-sq930x=n
CONFIG_PACKAGE_kmod-video-gspca-stk014=n
CONFIG_PACKAGE_kmod-video-gspca-stv06xx=n
CONFIG_PACKAGE_kmod-video-gspca-sunplus=n
CONFIG_PACKAGE_kmod-video-gspca-t613=n
CONFIG_PACKAGE_kmod-video-gspca-tv8532=n
CONFIG_PACKAGE_kmod-video-gspca-vc032x=n
CONFIG_PACKAGE_kmod-video-gspca-zc3xx=n
CONFIG_PACKAGE_kmod-video-pwc=n
CONFIG_PACKAGE_kmod-video-uvc=n
CONFIG_PACKAGE_kmod-video-videobuf2=n
CONFIG_PACKAGE_kmod-cdrom=n

CONFIG_PACKAGE_kmod-l2tp=n
CONFIG_PACKAGE_kmod-l2tp-eth=n
CONFIG_PACKAGE_kmod-l2tp-ip=n

CONFIG_PACKAGE_kmod-fs-9p=n
CONFIG_PACKAGE_kmod-fs-btrfs=n
CONFIG_PACKAGE_kmod-fs-cifs=n
CONFIG_PACKAGE_kmod-fs-configfs=n
CONFIG_PACKAGE_kmod-fs-cramfs=n
CONFIG_PACKAGE_kmod-fs-exportfs=n
CONFIG_PACKAGE_kmod-fs-f2fs=n
CONFIG_PACKAGE_kmod-fs-fscache=n
CONFIG_PACKAGE_kmod-fs-hfs=n
CONFIG_PACKAGE_kmod-fs-hfsplus=n
CONFIG_PACKAGE_kmod-fs-isofs=n
CONFIG_PACKAGE_kmod-fs-jfs=n
CONFIG_PACKAGE_kmod-fs-ksmbd=n
CONFIG_PACKAGE_kmod-fs-minix=n
CONFIG_PACKAGE_kmod-fs-msdos=n
CONFIG_PACKAGE_kmod-fs-netfs=n
CONFIG_PACKAGE_kmod-fs-nfs=n
CONFIG_PACKAGE_kmod-fs-nfs-common=n
CONFIG_PACKAGE_kmod-fs-nfs-common-rpcsec=n
CONFIG_PACKAGE_kmod-fs-nfs-v3=n
CONFIG_PACKAGE_kmod-fs-nfs-v4=n
CONFIG_PACKAGE_kmod-fs-nfsd=n
CONFIG_PACKAGE_kmod-fs-ntfs=n
CONFIG_PACKAGE_kmod-fs-reiserfs=n
CONFIG_PACKAGE_kmod-fs-smbfs-common=n
CONFIG_PACKAGE_kmod-fs-squashfs=y  # 这个保留，因为当前系统使用squashfs
CONFIG_PACKAGE_kmod-fs-udf=n
CONFIG_PACKAGE_kmod-fs-xfs=n
CONFIG_PACKAGE_kmod-fuse=n

CONFIG_PACKAGE_kmod-ath=y
CONFIG_PACKAGE_kmod-cfg80211=y
CONFIG_PACKAGE_kmod-mac80211=y
CONFIG_PACKAGE_MAC80211_DEBUGFS=y
CONFIG_PACKAGE_MAC80211_MESH=y
CONFIG_PACKAGE_kmod-iwlwifi=n
CONFIG_PACKAGE_kmod-mac80211-hwsim=n
CONFIG_PACKAGE_kmod-mt7615-firmware=y
CONFIG_PACKAGE_kmod-mt7615-common=y
CONFIG_PACKAGE_kmod-mt7615e=y
CONFIG_PACKAGE_airoha-en8811h-firmware=n
CONFIG_PACKAGE_ar3k-firmware=n
CONFIG_PACKAGE_ath10k-board-qca988x=n
CONFIG_PACKAGE_ath10k-firmware-qca988x=n
CONFIG_PACKAGE_ath9k-htc-firmware=n
CONFIG_PACKAGE_bnx2-firmware=n
CONFIG_PACKAGE_bnx2x-firmware=n
CONFIG_PACKAGE_brcmfmac-firmware-usb=n
CONFIG_PACKAGE_carl9170-firmware=n
CONFIG_PACKAGE_e100-firmware=n
CONFIG_PACKAGE_edgeport-firmware=n
CONFIG_PACKAGE_jboot-tools=n
CONFIG_PACKAGE_mt7601u-firmware=n
CONFIG_PACKAGE_mwifiex-pcie-firmware=n
CONFIG_PACKAGE_mwifiex-sdio-firmware=n
CONFIG_PACKAGE_mwl8k-firmware=n
CONFIG_PACKAGE_r8152-firmware=n
CONFIG_PACKAGE_r8169-firmware=n
CONFIG_PACKAGE_rs9113-firmware=n
CONFIG_PACKAGE_rt2800-pci-firmware=n
CONFIG_PACKAGE_rt2800-usb-firmware=n
CONFIG_PACKAGE_rtl8192ce-firmware=n
CONFIG_PACKAGE_rtl8192cu-firmware=n
CONFIG_PACKAGE_rtl8192de-firmware=n
CONFIG_PACKAGE_rtl8192se-firmware=n
CONFIG_PACKAGE_rtl8723be-firmware=n
CONFIG_PACKAGE_rtl8723de-firmware=n
CONFIG_PACKAGE_rtl8821ae-firmware=n
CONFIG_PACKAGE_rtl8821ce-firmware=n
CONFIG_PACKAGE_rtl8822be-firmware=n
CONFIG_PACKAGE_rtl8822ce-firmware=n
CONFIG_PACKAGE_wil6210-firmware=n
CONFIG_PACKAGE_wl12xx-firmware=n
CONFIG_PACKAGE_wl18xx-firmware=n
CONFIG_PACKAGE_kmod-rtw88=n
CONFIG_PACKAGE_kmod-rtw88-8723d=n
CONFIG_PACKAGE_kmod-rtw88-8723de=n
CONFIG_PACKAGE_kmod-rtw88-8821c=n
CONFIG_PACKAGE_kmod-rtw88-8821ce=n
CONFIG_PACKAGE_kmod-rtw88-8821cu=n
CONFIG_PACKAGE_kmod-rtw88-8822b=n
CONFIG_PACKAGE_kmod-rtw88-8822be=n
CONFIG_PACKAGE_kmod-rtw88-8822bu=n
CONFIG_PACKAGE_kmod-rtw88-8822c=n
CONFIG_PACKAGE_kmod-rtw88-8822ce=n
CONFIG_PACKAGE_kmod-rtw88-8822cu=n
CONFIG_PACKAGE_kmod-rtw88-pci=n
CONFIG_PACKAGE_kmod-rtw88-usb=n
CONFIG_PACKAGE_kmod-wil6210=n
CONFIG_PACKAGE_kmod-wl12xx=n
CONFIG_PACKAGE_kmod-wl18xx=n
CONFIG_PACKAGE_kmod-wlcore=n
CONFIG_PACKAGE_kmod-at86rf230=n
CONFIG_PACKAGE_kmod-atusb=n
CONFIG_PACKAGE_kmod-ca8210=n
CONFIG_PACKAGE_kmod-cc2520=n
CONFIG_PACKAGE_kmod-fakelb=n
CONFIG_PACKAGE_kmod-ieee802154=n
CONFIG_PACKAGE_kmod-ieee802154-6lowpan=n
CONFIG_PACKAGE_kmod-mac802154=n
CONFIG_PACKAGE_kmod-mrf24j40=n
CONFIG_PACKAGE_kmod-ar5523=n
CONFIG_PACKAGE_kmod-brcmutil=n
CONFIG_PACKAGE_kmod-carl9170=n
CONFIG_PACKAGE_kmod-mt76=n
CONFIG_PACKAGE_kmod-mt76-connac=y
CONFIG_PACKAGE_kmod-mt76-core=y
CONFIG_PACKAGE_kmod-mt76-sdio=n
CONFIG_PACKAGE_kmod-mt76-usb=n
CONFIG_PACKAGE_kmod-mt7601u=n
CONFIG_PACKAGE_kmod-mt7603=n
CONFIG_PACKAGE_kmod-mt7622-firmware=n
CONFIG_PACKAGE_kmod-mt7663-firmware-ap=n
CONFIG_PACKAGE_kmod-mt7663-firmware-sta=n
CONFIG_PACKAGE_kmod-mt7663-usb-sdio=n
CONFIG_PACKAGE_kmod-mt7663s=n
CONFIG_PACKAGE_kmod-mt7663u=n
CONFIG_PACKAGE_kmod-mt76x0-common=n
CONFIG_PACKAGE_kmod-mt76x02-common=n
CONFIG_PACKAGE_kmod-mt76x02-usb=n
CONFIG_PACKAGE_kmod-mt76x0e=n
CONFIG_PACKAGE_kmod-mt76x0u=n
CONFIG_PACKAGE_kmod-mt76x2=n
CONFIG_PACKAGE_kmod-mt76x2-common=n
CONFIG_PACKAGE_kmod-mt76x2u=n
CONFIG_PACKAGE_kmod-mt7915-firmware=n
CONFIG_PACKAGE_kmod-mt7915e=n
CONFIG_PACKAGE_kmod-mt7916-firmware=n
CONFIG_PACKAGE_kmod-mt7921-common=n
CONFIG_PACKAGE_kmod-mt7921-firmware=n
CONFIG_PACKAGE_kmod-mt7921e=n
CONFIG_PACKAGE_kmod-mt7921s=n
CONFIG_PACKAGE_kmod-mt7921u=n
CONFIG_PACKAGE_kmod-mt7922-firmware=n
CONFIG_PACKAGE_kmod-mt7925-common=n
CONFIG_PACKAGE_kmod-mt7925e=n
CONFIG_PACKAGE_kmod-mt7925u=n
CONFIG_PACKAGE_kmod-mt792x-common=n
CONFIG_PACKAGE_kmod-mt792x-usb=n
CONFIG_PACKAGE_kmod-mt7996-firmware=n
CONFIG_PACKAGE_kmod-mt7996e=n
CONFIG_PACKAGE_kmod-mwifiex-pcie=n
CONFIG_PACKAGE_kmod-mwifiex-sdio=n
CONFIG_PACKAGE_kmod-mwl8k=n
CONFIG_PACKAGE_kmod-owl-loader=m
CONFIG_PACKAGE_kmod-rsi91x=n
CONFIG_PACKAGE_kmod-rsi91x-sdio=n
CONFIG_PACKAGE_kmod-rsi91x-usb=n
CONFIG_PACKAGE_kmod-rt2800-lib=n
CONFIG_PACKAGE_kmod-rt2800-mmio=n
CONFIG_PACKAGE_kmod-rt2800-pci=n
CONFIG_PACKAGE_kmod-rt2800-usb=n
CONFIG_PACKAGE_kmod-rt2x00-lib=n
CONFIG_PACKAGE_kmod-rt2x00-mmio=n
CONFIG_PACKAGE_kmod-rt2x00-pci=n
CONFIG_PACKAGE_kmod-rt2x00-usb=n
CONFIG_PACKAGE_kmod-rtl8188eu=n
CONFIG_PACKAGE_kmod-rtl8189es=n
CONFIG_PACKAGE_kmod-rtl8192c-common=n
CONFIG_PACKAGE_kmod-rtl8192ce=n
CONFIG_PACKAGE_kmod-rtl8192cu=n
CONFIG_PACKAGE_kmod-rtl8192de=n
CONFIG_PACKAGE_kmod-rtl8192eu=n
CONFIG_PACKAGE_kmod-rtl8192se=n
CONFIG_PACKAGE_kmod-rtl8723-common=n
CONFIG_PACKAGE_kmod-rtl8723be=n
CONFIG_PACKAGE_kmod-rtl8723bs=n
CONFIG_PACKAGE_kmod-rtl8812au-ac=n
CONFIG_PACKAGE_kmod-rtl8812au-ct=n
CONFIG_PACKAGE_kmod-rtl8821ae=n
CONFIG_PACKAGE_kmod-rtl8xxxu=n
CONFIG_PACKAGE_kmod-rtlwifi=n
CONFIG_PACKAGE_kmod-rtlwifi-btcoexist=n
CONFIG_PACKAGE_kmod-rtlwifi-pci=n
CONFIG_PACKAGE_kmod-rtlwifi-usb=n
CONFIG_PACKAGE_ATH_DFS=n
CONFIG_PACKAGE_kmod-ath10k=n
CONFIG_ATH10K_LEDS=n
CONFIG_ATH10K_THERMAL=n
CONFIG_PACKAGE_kmod-ath10k-ct=n
CONFIG_ATH10K-CT_LEDS=n
CONFIG_PACKAGE_kmod-ath10k-ct-smallbuffers=n
CONFIG_PACKAGE_kmod-ath10k-sdio=n
CONFIG_PACKAGE_kmod-ath10k-smallbuffers=n
CONFIG_PACKAGE_kmod-ath11k=n
CONFIG_PACKAGE_kmod-ath11k-pci=n
CONFIG_PACKAGE_kmod-ath5k=n
CONFIG_PACKAGE_kmod-ath6kl=n
CONFIG_PACKAGE_kmod-ath6kl-sdio=n
CONFIG_PACKAGE_kmod-ath6kl-usb=n
CONFIG_PACKAGE_kmod-ath9k=n
CONFIG_ATH9K_HWRNG=n
CONFIG_PACKAGE_kmod-ath9k-common=n
CONFIG_PACKAGE_kmod-ath9k-htc=n
CONFIG_PACKAGE_kmod-b43=m
CONFIG_PACKAGE_B43_USE_SSB=m
CONFIG_PACKAGE_B43_USE_BCMA=m
CONFIG_B43_FW_5_100_138=y
CONFIG_B43_FW_SQUASH=y
CONFIG_B43_FW_SQUASH_COREREVS="5,6,7,8,9,10,11,13,15,16,28,29,30"
CONFIG_B43_FW_SQUASH_PHYTYPES="G,N,LP,HT"
CONFIG_PACKAGE_B43_BUSES_BCMA_AND_SSB=y
CONFIG_PACKAGE_B43_PHY_G=y
CONFIG_PACKAGE_B43_PHY_N=y
CONFIG_PACKAGE_B43_PHY_LP=y
CONFIG_PACKAGE_B43_PHY_HT=y
CONFIG_PACKAGE_kmod-brcmfmac=m
CONFIG_BRCMFMAC_USB=y
CONFIG_BRCMFMAC_PCIE=y
CONFIG_PACKAGE_kmod-brcmsmac=m
CONFIG_BRCMSMAC_USE_FW_FROM_WL=y

CONFIG_PACKAGE_kmod-hwmon-core=y
CONFIG_PACKAGE_kmod-hwmon-vid=m
CONFIG_PACKAGE_kmod-hwmon-pwmfan=n

CONFIG_PACKAGE_kmod-hwmon-ad7418=n
CONFIG_PACKAGE_kmod-hwmon-adcxx=n
CONFIG_PACKAGE_kmod-hwmon-adt7410=n
CONFIG_PACKAGE_kmod-hwmon-adt7475=n
CONFIG_PACKAGE_kmod-hwmon-dme1737=n
CONFIG_PACKAGE_kmod-hwmon-drivetemp=n
CONFIG_PACKAGE_kmod-hwmon-emc2305=n
CONFIG_PACKAGE_kmod-hwmon-g762=n
CONFIG_PACKAGE_kmod-hwmon-gpiofan=n
CONFIG_PACKAGE_kmod-hwmon-gsc=n
CONFIG_PACKAGE_kmod-hwmon-ina209=n
CONFIG_PACKAGE_kmod-hwmon-ina2xx=n
CONFIG_PACKAGE_kmod-hwmon-it87=n
CONFIG_PACKAGE_kmod-hwmon-jc42=n
CONFIG_PACKAGE_kmod-hwmon-lm63=n
CONFIG_PACKAGE_kmod-hwmon-lm70=n
CONFIG_PACKAGE_kmod-hwmon-lm75=n
CONFIG_PACKAGE_kmod-hwmon-lm77=n
CONFIG_PACKAGE_kmod-hwmon-lm85=n
CONFIG_PACKAGE_kmod-hwmon-lm90=n
CONFIG_PACKAGE_kmod-hwmon-lm92=n
CONFIG_PACKAGE_kmod-hwmon-lm95241=n
CONFIG_PACKAGE_kmod-hwmon-ltc4151=n
CONFIG_PACKAGE_kmod-hwmon-max6642=n
CONFIG_PACKAGE_kmod-hwmon-max6697=n
CONFIG_PACKAGE_kmod-hwmon-mcp3021=n
CONFIG_PACKAGE_kmod-hwmon-nct7802=n
CONFIG_PACKAGE_kmod-hwmon-sch5627=n
CONFIG_PACKAGE_kmod-hwmon-sht21=n
CONFIG_PACKAGE_kmod-hwmon-sht3x=n
CONFIG_PACKAGE_kmod-hwmon-tc654=n
CONFIG_PACKAGE_kmod-hwmon-tmp102=n
CONFIG_PACKAGE_kmod-hwmon-tmp103=n
CONFIG_PACKAGE_kmod-hwmon-tmp421=n
CONFIG_PACKAGE_kmod-hwmon-tps23861=n
CONFIG_PACKAGE_kmod-hwmon-w83793=n

CONFIG_PACKAGE_kmod-phy-airoha-en8811h=n
CONFIG_PACKAGE_kmod-phy-amd=n
CONFIG_PACKAGE_kmod-phy-aquantia=n
CONFIG_PACKAGE_kmod-phy-ax88796b=n
CONFIG_PACKAGE_kmod-phy-bcm84881=n
CONFIG_PACKAGE_kmod-phy-broadcom=n
CONFIG_PACKAGE_kmod-phy-marvell=n
CONFIG_PACKAGE_kmod-phy-marvell-10g=n
CONFIG_PACKAGE_kmod-phy-microchip=n
CONFIG_PACKAGE_kmod-phy-realtek=n
CONFIG_PACKAGE_kmod-phy-smsc=n

CONFIG_PACKAGE_kmod-switch-ar8xxx=n
CONFIG_PACKAGE_kmod-switch-bcm53xx=n
CONFIG_PACKAGE_kmod-switch-bcm53xx-mdio=n
CONFIG_PACKAGE_kmod-switch-ip17xx=n
CONFIG_PACKAGE_kmod-switch-rtl8306=n
CONFIG_PACKAGE_kmod-switch-rtl8366-smi=n
CONFIG_PACKAGE_kmod-switch-rtl8366rb=n
CONFIG_PACKAGE_kmod-switch-rtl8366s=n
CONFIG_PACKAGE_kmod-switch-rtl8367=n
CONFIG_PACKAGE_kmod-switch-rtl8367b=n

CONFIG_PACKAGE_atm-aread=n
CONFIG_PACKAGE_atm-atmaddr=n
CONFIG_PACKAGE_atm-atmdiag=n
CONFIG_PACKAGE_atm-atmdump=n
CONFIG_PACKAGE_atm-atmloop=n
CONFIG_PACKAGE_atm-atmsigd=n
CONFIG_PACKAGE_atm-atmswitch=n
CONFIG_PACKAGE_atm-atmtcp=n
CONFIG_PACKAGE_atm-awrite=n
CONFIG_PACKAGE_atm-bus=n
CONFIG_PACKAGE_atm-debug-tools=n
CONFIG_PACKAGE_atm-diagnostics=n
CONFIG_PACKAGE_atm-esi=n
CONFIG_PACKAGE_atm-ilmid=n
CONFIG_PACKAGE_atm-ilmidiag=n
CONFIG_PACKAGE_atm-lecs=n
CONFIG_PACKAGE_atm-les=n
CONFIG_PACKAGE_atm-mpcd=n
CONFIG_PACKAGE_atm-saaldump=n
CONFIG_PACKAGE_atm-sonetdiag=n
CONFIG_PACKAGE_atm-svc_recv=n
CONFIG_PACKAGE_atm-svc_send=n
CONFIG_PACKAGE_atm-tools=n
CONFIG_PACKAGE_atm-ttcp_atm=n
CONFIG_PACKAGE_atm-zeppelin=n

CONFIG_PACKAGE_kmod-rtc-ds1307=n
CONFIG_PACKAGE_kmod-rtc-ds1374=n
CONFIG_PACKAGE_kmod-rtc-ds1672=n
CONFIG_PACKAGE_kmod-rtc-em3027=n
CONFIG_PACKAGE_kmod-rtc-isl1208=n
CONFIG_PACKAGE_kmod-rtc-mv=n
CONFIG_PACKAGE_kmod-rtc-pcf2123=n
CONFIG_PACKAGE_kmod-rtc-pcf2127=n
CONFIG_PACKAGE_kmod-rtc-pcf8563=n
CONFIG_PACKAGE_kmod-rtc-r7301=n
CONFIG_PACKAGE_kmod-rtc-rs5c372a=n
CONFIG_PACKAGE_kmod-rtc-rx8025=n
CONFIG_PACKAGE_kmod-rtc-s35390a=n
CONFIG_PACKAGE_kmod-rtc-x1205=n

CONFIG_PACKAGE_kmod-openvswitch=n
CONFIG_PACKAGE_kmod-openvswitch-geneve=n
CONFIG_PACKAGE_kmod-openvswitch-geneve-intree=n
CONFIG_PACKAGE_kmod-openvswitch-gre=n
CONFIG_PACKAGE_kmod-openvswitch-gre-intree=n
CONFIG_PACKAGE_kmod-openvswitch-intree=n
CONFIG_PACKAGE_kmod-openvswitch-lisp-intree=n
CONFIG_PACKAGE_kmod-openvswitch-stt-intree=n
CONFIG_PACKAGE_kmod-openvswitch-vxlan=n
CONFIG_PACKAGE_kmod-openvswitch-vxlan-intree=n

CONFIG_PACKAGE_kmod-r6040=n
CONFIG_PACKAGE_kmod-r8101=n
CONFIG_PACKAGE_kmod-r8125=n
CONFIG_PACKAGE_kmod-r8168=n
CONFIG_PACKAGE_kmod-r8169=n
CONFIG_PACKAGE_kmod-sis190=n
CONFIG_PACKAGE_kmod-sis900=n
CONFIG_PACKAGE_kmod-skge=n
CONFIG_PACKAGE_kmod-sky2=n
CONFIG_PACKAGE_kmod-solos-pci=n
CONFIG_PACKAGE_kmod-spi-ks8995=n
CONFIG_PACKAGE_kmod-tg3=n
CONFIG_PACKAGE_kmod-tulip=n
CONFIG_PACKAGE_kmod-via-rhine=n
CONFIG_PACKAGE_kmod-via-velocity=n

CONFIG_PACKAGE_kmod-ixgbe=n
CONFIG_PACKAGE_kmod-ixgbevf=n
CONFIG_PACKAGE_kmod-lan743x=n
CONFIG_PACKAGE_kmod-mlx4-core=n
CONFIG_PACKAGE_kmod-mlx5-core=n
CONFIG_PACKAGE_kmod-mlxfw=n
CONFIG_PACKAGE_kmod-mlxsw-core=n
CONFIG_PACKAGE_kmod-mlxsw-i2c=n
CONFIG_PACKAGE_kmod-mlxsw-minimal=n
CONFIG_PACKAGE_kmod-mlxsw-pci=n
CONFIG_PACKAGE_kmod-mlxsw-spectrum=n
CONFIG_PACKAGE_kmod-mtk-t7xx=n
CONFIG_PACKAGE_kmod-natsemi=n
CONFIG_PACKAGE_kmod-ne2k-pci=n
CONFIG_PACKAGE_kmod-net-selftests=n
CONFIG_PACKAGE_kmod-mhi-net=n
CONFIG_PACKAGE_kmod-mhi-wwan-ctrl=n
CONFIG_PACKAGE_kmod-mhi-wwan-mbim=n

CONFIG_PACKAGE_kmod-oaf=n
CONFIG_PACKAGE_kmod-3c59x=n
CONFIG_PACKAGE_kmod-8139cp=n
CONFIG_PACKAGE_kmod-8139too=n
CONFIG_PACKAGE_kmod-alx=n
CONFIG_PACKAGE_kmod-atl1=n
CONFIG_PACKAGE_kmod-atl1c=n
CONFIG_PACKAGE_kmod-atl1e=n
CONFIG_PACKAGE_kmod-atl2=n
CONFIG_PACKAGE_kmod-atlantic=n
CONFIG_PACKAGE_kmod-b44=n
CONFIG_PACKAGE_kmod-be2net=n
CONFIG_PACKAGE_kmod-bnx2=n
CONFIG_PACKAGE_kmod-bnx2x=n
CONFIG_PACKAGE_kmod-bnxt-en=n
CONFIG_PACKAGE_kmod-dm9000=n
CONFIG_PACKAGE_kmod-e100=n
CONFIG_PACKAGE_kmod-e1000=n
CONFIG_PACKAGE_kmod-et131x=n
CONFIG_PACKAGE_kmod-ethoc=n
CONFIG_PACKAGE_kmod-forcedeth=n
CONFIG_PACKAGE_kmod-hfcmulti=n
CONFIG_PACKAGE_kmod-hfcpci=n
CONFIG_PACKAGE_kmod-i40e=n
CONFIG_PACKAGE_kmod-dsa-mv88e6xxx=n

CONFIG_PACKAGE_kmod-iavf=n
CONFIG_PACKAGE_kmod-ice=n
CONFIG_PACKAGE_kmod-igb=n
CONFIG_PACKAGE_kmod-igc=n
CONFIG_PACKAGE_kmod-niu=n
CONFIG_PACKAGE_kmod-of-mdio=n
CONFIG_PACKAGE_kmod-pcnet32=n
CONFIG_PACKAGE_kmod-phylib-broadcom=n
CONFIG_PACKAGE_kmod-qede=n
CONFIG_PACKAGE_kmod-qlcnic=n
CONFIG_PACKAGE_kmod-sfc=n
CONFIG_PACKAGE_kmod-sfc-falcon=n
CONFIG_PACKAGE_kmod-sfp=n
CONFIG_PACKAGE_kmod-vmxnet3=n
CONFIG_PACKAGE_kmod-9pnet=n
CONFIG_PACKAGE_kmod-atm=n
CONFIG_PACKAGE_kmod-atmtcp=n

CONFIG_PACKAGE_kmod-w1=n
CONFIG_PACKAGE_kmod-w1-master-ds2482=n
CONFIG_PACKAGE_kmod-w1-master-ds2490=n
CONFIG_PACKAGE_kmod-w1-master-gpio=n
CONFIG_PACKAGE_kmod-w1-slave-ds2413=n
CONFIG_PACKAGE_kmod-w1-slave-ds2431=n
CONFIG_PACKAGE_kmod-w1-slave-ds2433=n
CONFIG_PACKAGE_kmod-w1-slave-smem=n
CONFIG_PACKAGE_kmod-w1-slave-therm=n


CONFIG_PACKAGE_kmod-hid=n
CONFIG_PACKAGE_kmod-hid-generic=n
CONFIG_PACKAGE_kmod-input-core=n
CONFIG_PACKAGE_kmod-input-evdev=n
CONFIG_PACKAGE_kmod-input-gpio-encoder=n
CONFIG_PACKAGE_kmod-input-gpio-keys=n
CONFIG_PACKAGE_kmod-input-gpio-keys-polled=n
CONFIG_PACKAGE_kmod-input-joydev=n
CONFIG_PACKAGE_kmod-input-matrixkmap=n
CONFIG_PACKAGE_kmod-input-touchscreen-ads7846=n
CONFIG_PACKAGE_kmod-input-touchscreen-edt-ft5x06=n
CONFIG_PACKAGE_kmod-input-uinput=n
CONFIG_PACKAGE_kmod-input-leds=n


CONFIG_PACKAGE_kmod-iio-ad799x=n
CONFIG_PACKAGE_kmod-iio-ads1015=n
CONFIG_PACKAGE_kmod-iio-am2315=n
CONFIG_PACKAGE_kmod-iio-bh1750=n
CONFIG_PACKAGE_kmod-iio-bme680=n
CONFIG_PACKAGE_kmod-iio-bme680-i2c=n
CONFIG_PACKAGE_kmod-iio-bme680-spi=n
CONFIG_PACKAGE_kmod-iio-bmp280=n
CONFIG_PACKAGE_kmod-iio-bmp280-i2c=n
CONFIG_PACKAGE_kmod-iio-bmp280-spi=n
CONFIG_PACKAGE_kmod-iio-ccs811=n
CONFIG_PACKAGE_kmod-iio-core=n
CONFIG_PACKAGE_kmod-iio-dht11=n
CONFIG_PACKAGE_kmod-iio-fxas21002c=n
CONFIG_PACKAGE_kmod-iio-fxas21002c-i2c=n
CONFIG_PACKAGE_kmod-iio-fxas21002c-spi=n
CONFIG_PACKAGE_kmod-iio-fxos8700=n
CONFIG_PACKAGE_kmod-iio-fxos8700-i2c=n
CONFIG_PACKAGE_kmod-iio-fxos8700-spi=n
CONFIG_PACKAGE_kmod-iio-hmc5843=n
CONFIG_PACKAGE_kmod-iio-htu21=n
CONFIG_PACKAGE_kmod-iio-kfifo-buf=n
CONFIG_PACKAGE_kmod-iio-lsm6dsx=n
CONFIG_PACKAGE_kmod-iio-lsm6dsx-i2c=n
CONFIG_PACKAGE_kmod-iio-lsm6dsx-spi=n
CONFIG_PACKAGE_kmod-iio-si7020=n
CONFIG_PACKAGE_kmod-iio-sps30=n
CONFIG_PACKAGE_kmod-iio-st_accel=n
CONFIG_PACKAGE_kmod-iio-st_accel-i2c=n
CONFIG_PACKAGE_kmod-iio-st_accel-spi=n
CONFIG_PACKAGE_kmod-iio-tsl4531=n

CONFIG_PACKAGE_kmod-pinctrl-mcp23s08=n
CONFIG_PACKAGE_kmod-pinctrl-mcp23s08-i2c=n
CONFIG_PACKAGE_kmod-pinctrl-mcp23s08-spi=n
CONFIG_PACKAGE_kmod-serial-8250=n
CONFIG_PACKAGE_kmod-serial-8250-exar=n

# 不需要 音频、USB、实时时钟 设备
CONFIG_AUDIO_SUPPORT=n
CONFIG_USB_SUPPORT=n
CONFIG_RTC_SUPPORT=n
CONFIG_ZABBIX_POSTGRESQL=n

# 不需要火线 Firewire 设备
CONFIG_PACKAGE_kmod-firewire=n
CONFIG_PACKAGE_kmod-firewire-net=n
CONFIG_PACKAGE_kmod-firewire-ohci=n
CONFIG_PACKAGE_kmod-firewire-sbp2=n

# 禁用的 gpio
CONFIG_PACKAGE_kmod-gpio-beeper=n
CONFIG_PACKAGE_kmod-gpio-cascade=n
CONFIG_PACKAGE_kmod-gpio-nxp-74hc164=n
CONFIG_PACKAGE_kmod-gpio-pca953x=n
CONFIG_PACKAGE_kmod-gpio-pcf857x=n

CONFIG_PACKAGE_kmod-pmbus-zl6100=n

CONFIG_PACKAGE_kmod-i2c-algo-pca=n
CONFIG_PACKAGE_kmod-i2c-algo-pcf=n
CONFIG_PACKAGE_kmod-i2c-ccgs-ucsi=n
CONFIG_PACKAGE_kmod-i2c-designware-core=n
CONFIG_PACKAGE_kmod-i2c-designware-pci=n
CONFIG_PACKAGE_kmod-i2c-mux-pca9541=n
CONFIG_PACKAGE_kmod-i2c-mux-pca954x=n
CONFIG_PACKAGE_kmod-i2c-tiny-usb=n

# 不确定，先试试看
CONFIG_PACKAGE_kmod-leds-lp5562=n
CONFIG_PACKAGE_kmod-leds-lp55xx-common=n
CONFIG_PACKAGE_kmod-leds-mlxcpld=n
CONFIG_PACKAGE_kmod-leds-pca955x=n
CONFIG_PACKAGE_kmod-leds-pca963x=n
CONFIG_PACKAGE_kmod-leds-tlc591xx=n
CONFIG_PACKAGE_kmod-leds-ubnt-ledbar=n
CONFIG_PACKAGE_kmod-leds-uleds=n
CONFIG_PACKAGE_kmod-ledtrig-activity=n
CONFIG_PACKAGE_kmod-ledtrig-audio=n
CONFIG_PACKAGE_kmod-ledtrig-oneshot=n
CONFIG_PACKAGE_kmod-ledtrig-pattern=n
CONFIG_PACKAGE_kmod-ledtrig-transient=n
CONFIG_PACKAGE_kmod-ledtrig-tty=n

CONFIG_PACKAGE_kmod-industrialio-triggered-buffer=n
